<h1>New Planejamento</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.planejamento_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.planejamento_path(@conn, :index) %></span>
