<h1>Transactions</h1>
<%= link_to "Add Expense", new_transactions_expense_path %>
<%= link_to "Add Revenue", new_transactions_revenue_path %>
<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.amount %></td>
        <td><%= transaction.date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
